# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-client/node_modules
front-client/.pnp
front-client/.pnp.js

# testing
front-client/coverage

# production
front-client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

front-client/npm-debug.log*
front-client/yarn-debug.log*
front-client/yarn-error.log*

# virtual environment
flask-server/venv
